html {
  font-size: 15px;
}
body {
  font-family: "Outfit", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 0.8rem;
}
body {
  background-color: hsl(212, 45%, 89%);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color:white;
  width: 20rem;
  height: auto;
  padding: 2rem;
  border-radius: 0.8rem;

  display: flex;
  align-items: center;
  text-align:left;
  box-shadow: 6px 6px 12px rgb(172, 171, 171);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card-img{
  border-radius: 0.8rem;
  justify-content: center;
}

.card-tittle{
  text-align: center;
  font-size: 1.3rem;
  color: hsl(218, 44%, 22%);
  font-weight: 700;
}


.card-description{
  text-align: center;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  font-size:14px;
  line-height: 1.30rem;
  margin-bottom: 1.5rem;
}